body{
    font-family: 'Poppins', sans-serif; 
    margin: 10%;  
}
h1{
    font-size: 50px;border-radius: 5%;
}
.orange-color{
        color: orange;
}
.boder-left{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    border-radius: 5%;
}
.half-left{
    margin-left: 6%;
}
section{
    display: flex;
}
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,tomato);
        padding: 10px 40px;
        color: white;
        font-weight: 700;
        border-radius: 5px;
}
.margin{
    margin-top: 8%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
}
.half-center{
    text-align: center;
}
.area{
    width: 30%;
    background-color: paleturquoise;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 30px;
}
.vission{
    width: 30%;
    background-color: peachpuff;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
}
.mission{
    width: 30%;
    background-color: pink;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 40px;
}  
.image{
    width: 80%; 
    padding: 30px;
    margin-left: 30%;
}
 .photo{
    width: 70%; 
    padding: 30px;
    margin-right: 50%;
}
.margin-button{
    margin-top: 10%;
}
footer{
    font-style: italic;
    text-align: center;
    background-color: rgb(12, 11, 11);
    color: white;
}
.width-color{
    color: orange;
}
#center{
    text-align: center;
}
.text{
    color: orangered;
}
.with{
    color: peru;
}
.left{
    margin-left: 5%;
}
 
 